# 6 - Data Encoding and Processing

## Reading and Writing CSV Data

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 4), columns=list("ABCD"))
df

          A         B         C         D
0  0.578421  1.213620 -0.732249 -2.849113
1  0.075960  0.735471 -0.245389  0.982651
2  1.146799  1.763106  1.404748 -1.197465
3 -1.060406 -1.082608  1.003626 -0.990171
4 -0.428314 -1.117124  0.784250 -0.434769

In [3]:
file_name = "test_data.csv"

df.to_csv(file_name)

In [4]:
import os

os.path.isfile(file_name)

True

In [5]:
dfr = pd.read_csv(file_name)
dfr

   Unnamed: 0         A         B         C         D
0           0  0.578421  1.213620 -0.732249 -2.849113
1           1  0.075960  0.735471 -0.245389  0.982651
2           2  1.146799  1.763106  1.404748 -1.197465
3           3 -1.060406 -1.082608  1.003626 -0.990171
4           4 -0.428314 -1.117124  0.784250 -0.434769

pandas provides a clean way to read and write csv files. Alternatively...

In [6]:
import csv

with open(file_name) as f:
    f_csv = csv.reader(f)
    headers = next(f_csv)
    for row in f_csv:
        print(row)

['0', '0.5784206468336923', '1.2136204592697122', '-0.7322489731430893', '-2.84911273983835']
['1', '0.07596047207284655', '0.7354709000827151', '-0.2453891691302662', '0.9826508560764818']
['2', '1.146799123292891', '1.763105869585345', '1.404748156315179', '-1.1974647197868011']
['3', '-1.0604061326077359', '-1.0826079764500174', '1.0036262065245922', '-0.9901708378243262']
['4', '-0.42831386072217076', '-1.1171242932657632', '0.7842497569749508', '-0.43476896864505865']

In [7]:
headers

['', 'A', 'B', 'C', 'D']

A nice and clean way to read the data...

In [14]:
from collections import namedtuple

rows = []
with open(file_name) as f:
    f_csv = csv.reader(f)
    headings = next(f_csv)
    headings[0] = "index"
    Row = namedtuple('Row', headings)
    for r in f_csv:
        row = Row(*r)
        rows.append(row)

In [16]:
row = rows[0]
row

Row(index='0', A='0.5784206468336923', B='1.2136204592697122', C='-0.7322489731430893', D='-2.84911273983835')

In [18]:
row.A, row.B

('0.5784206468336923', '1.2136204592697122')

In [20]:
import csv

rows = []
with open(file_name) as f:
    f_csv = csv.DictReader(f)
    for row in f_csv:
        rows.append(row)

In [21]:
rows

[OrderedDict([('', '0'),
              ('A', '0.5784206468336923'),
              ('B', '1.2136204592697122'),
              ('C', '-0.7322489731430893'),
              ('D', '-2.84911273983835')]),
 OrderedDict([('', '1'),
              ('A', '0.07596047207284655'),
              ('B', '0.7354709000827151'),
              ('C', '-0.2453891691302662'),
              ('D', '0.9826508560764818')]),
 OrderedDict([('', '2'),
              ('A', '1.146799123292891'),
              ('B', '1.763105869585345'),
              ('C', '1.404748156315179'),
              ('D', '-1.1974647197868011')]),
 OrderedDict([('', '3'),
              ('A', '-1.0604061326077359'),
              ('B', '-1.0826079764500174'),
              ('C', '1.0036262065245922'),
              ('D', '-0.9901708378243262')]),
 OrderedDict([('', '4'),
              ('A', '-0.42831386072217076'),
              ('B', '-1.1171242932657632'),
              ('C', '0.7842497569749508'),
              ('D', '-0.43476896864505865')])]

In [23]:
rows[0]["A"]

'0.5784206468336923'

In [24]:
rows[0]["B"]

'1.2136204592697122'

## Reading and Writing JSON Data
The two main functions are json.dumps() and json.loads() from the json module.

In [25]:
import json
data = {
    'name' : 'ACME',
    'shares' : 100,
    'price' : 542.23
}

json_str = json.dumps(data)

In [26]:
json_str

'{"name": "ACME", "shares": 100, "price": 542.23}'

In [27]:
data = json.loads(json_str)
data

{'name': 'ACME', 'shares': 100, 'price': 542.23}

In [28]:
file_name = "test_json.json"

with open(file_name, "w") as f:
    json.dump(data, f)

In [29]:
import os

os.path.isfile(file_name)

True

In [31]:
with open(file_name, "r") as f:
    print(json.load(f))

{'name': 'ACME', 'shares': 100, 'price': 542.23}

The format of JSON encoding is almost identical to Python syntax except for a few minor changes. For instance, True is mapped to true, False is mapped to false, and None is mapped to null.

In [34]:
json.dumps(True)

'true'

In [33]:
json.dumps(False)

'false'

In [35]:
json.dumps(None)

'null'

## Parsing Simple XML Data
The xml.etree.ElementTree module can be used to extract data from simple XML documents.

In [41]:
from urllib.request import urlopen
from xml.etree.ElementTree import parse

# Download the RSS feed and parse it
u = urlopen('http://planet.python.org/rss20.xml')
doc = parse(u)

In [42]:
doc

In [46]:
doc.getroot()

In [44]:
stop_after = 5
counter = 0

for item in doc.iterfind('channel/item'):
    counter += 1
    title = item.findtext('title')
    date = item.findtext('pubDate')
    link = item.findtext('link')
    print(title)
    print(date)
    print(link)
    print()
    if counter >= stop_after:
        break

PyCoderâ€™s Weekly: Issue #374 (June 25, 2019)
Tue, 25 Jun 2019 19:30:00 +0000
https://pycoders.com/issues/374

Continuum Analytics Blog: How We Made Conda Faster in 4.7
Tue, 25 Jun 2019 16:56:09 +0000
https://www.anaconda.com/how-we-made-conda-faster-4-7/

Real Python: Generating Random Data in Python
Tue, 25 Jun 2019 14:00:00 +0000
https://realpython.com/courses/generating-random-data-python/

Reuven Lerner: Announcing: Python standard library, video explainer
Tue, 25 Jun 2019 09:30:19 +0000
https://lerner.co.il/2019/06/25/announcing-python-standard-library-video-explainer/

Talk Python to Me: #218 Serverless Python functions in Azure
Tue, 25 Jun 2019 08:00:00 +0000
https://talkpython.fm/episodes/show/218/serverless-python-functions-in-azure

## Parsing Huge XML Files Incrementally
Any time you are faced with the problem of incremental data processing, you should think of iterators and generators.

In [50]:
from xml.etree.ElementTree import iterparse

## Turning a Dictionary into XML

In [1]:
from xml.etree.ElementTree import Element

def dict_to_xml(tag, d):
    elem = Element(tag)
    for key, val in d.items():
        child = Element(key)
        child.text = str(val)
        elem.append(child)
    return elem

In [2]:
s = { 'name': 'GOOG', 'shares': 100, 'price':490.1 }
s

{'name': 'GOOG', 'shares': 100, 'price': 490.1}

In [3]:
e = dict_to_xml('stock', s)
e

In [5]:
from xml.etree.ElementTree import tostring

tostring(e)

b'<stock><name>GOOG</name><shares>100</shares><price>490.1</price></stock>'

In [6]:
e.set('_id','1234')
tostring(e)

b'<stock _id="1234"><name>GOOG</name><shares>100</shares><price>490.1</price></stock>'

## Interacting with a Relational Database
A standard way to represent rows of data in Python is as a sequence of tuples.

In [1]:
stocks = [
 ('GOOG', 100, 490.1),
 ('AAPL', 50, 545.75),
 ('FB', 150, 7.45),
 ('HPQ', 75, 33.2),
]

In [2]:
stocks

[('GOOG', 100, 490.1),
 ('AAPL', 50, 545.75),
 ('FB', 150, 7.45),
 ('HPQ', 75, 33.2)]

In [3]:
import sqlite3

file_name = "database.db"
db = sqlite3.connect(file_name)

In [4]:
db

In [5]:
c = db.cursor()
c.execute('create table portfolio (symbol text, shares integer, price real)')
c

In [6]:
db.commit()

In [7]:
c.executemany('insert into portfolio values (?,?,?)', stocks)

In [8]:
db.commit()

In [9]:
for row in db.execute('select * from portfolio'):
    print(row)

('GOOG', 100, 490.1)
('AAPL', 50, 545.75)
('FB', 150, 7.45)
('HPQ', 75, 33.2)

In [11]:
min_price = 100

for row in db.execute('select * from portfolio where price >= ?', (min_price,)):
    print(row)

('GOOG', 100, 490.1)
('AAPL', 50, 545.75)

##  Decoding and Encoding Hexadecimal Digits

In [12]:
s = b'hello'
s

b'hello'

In [13]:
import binascii

h = binascii.b2a_hex(s)
h

b'68656c6c6f'

In [14]:
binascii.a2b_hex(h)

b'hello'

Similar functionality can also be found in the base64 module.

In [15]:
import base64

h = base64.b16encode(s)
h

b'68656C6C6F'

In [16]:
base64.b16decode(h)

b'hello'

## Summarizing Data and Performing Statistics
Theis is where pandas shines...

In [17]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=list("ABCD"))
df

          A         B         C         D
0  1.587434 -1.609139 -1.601911 -1.732674
1  0.792315  1.120974  0.581438 -1.258648
2  0.043991  0.062257 -0.867278  1.179839
3  0.291730  0.064489  0.664166 -2.224216
4 -0.750515 -0.526672  0.746155  0.146453
5  0.058916  2.227425 -0.690737  1.004486
6 -0.052779 -1.235368 -0.057643 -0.618109
7  0.925498 -0.702736  0.725291  0.616932
8  0.977658  1.258852 -0.097427  0.674834
9  1.228996  1.777386 -0.699075 -0.320413

In [18]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.510324   0.243747  -0.129702  -0.253152
std     0.708893   1.302238   0.815862   1.184897
min    -0.750515  -1.609139  -1.601911  -2.224216
25%     0.047722  -0.658720  -0.696991  -1.098513
50%     0.542022   0.063373  -0.077535  -0.086980
75%     0.964618   1.224383   0.643484   0.660359
max     1.587434   2.227425   0.746155   1.179839

In [20]:
df[df["A"] >= 0]

          A         B         C         D
0  1.587434 -1.609139 -1.601911 -1.732674
1  0.792315  1.120974  0.581438 -1.258648
2  0.043991  0.062257 -0.867278  1.179839
3  0.291730  0.064489  0.664166 -2.224216
5  0.058916  2.227425 -0.690737  1.004486
7  0.925498 -0.702736  0.725291  0.616932
8  0.977658  1.258852 -0.097427  0.674834
9  1.228996  1.777386 -0.699075 -0.320413

In [23]:
df[(df.A >= 0) & (df.B > 0) & (df.C > 0)]

          A         B         C         D
1  0.792315  1.120974  0.581438 -1.258648
3  0.291730  0.064489  0.664166 -2.224216

In [29]:
len(df.index), df.describe().A["count"]

(10, 10.0)

See 'Python for Data Analysis' by Wes McKinney.

***