# 6 - Data Encoding and Processing

## Reading and Writing CSV Data

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 4), columns=list("ABCD"))
df

          A         B         C         D
0  0.578421  1.213620 -0.732249 -2.849113
1  0.075960  0.735471 -0.245389  0.982651
2  1.146799  1.763106  1.404748 -1.197465
3 -1.060406 -1.082608  1.003626 -0.990171
4 -0.428314 -1.117124  0.784250 -0.434769

In [3]:
file_name = "test_data.csv"

df.to_csv(file_name)

In [4]:
import os

os.path.isfile(file_name)

True

In [5]:
dfr = pd.read_csv(file_name)
dfr

   Unnamed: 0         A         B         C         D
0           0  0.578421  1.213620 -0.732249 -2.849113
1           1  0.075960  0.735471 -0.245389  0.982651
2           2  1.146799  1.763106  1.404748 -1.197465
3           3 -1.060406 -1.082608  1.003626 -0.990171
4           4 -0.428314 -1.117124  0.784250 -0.434769

pandas provides a clean way to read and write csv files. Alternatively...

In [6]:
import csv

with open(file_name) as f:
    f_csv = csv.reader(f)
    headers = next(f_csv)
    for row in f_csv:
        print(row)

['0', '0.5784206468336923', '1.2136204592697122', '-0.7322489731430893', '-2.84911273983835']
['1', '0.07596047207284655', '0.7354709000827151', '-0.2453891691302662', '0.9826508560764818']
['2', '1.146799123292891', '1.763105869585345', '1.404748156315179', '-1.1974647197868011']
['3', '-1.0604061326077359', '-1.0826079764500174', '1.0036262065245922', '-0.9901708378243262']
['4', '-0.42831386072217076', '-1.1171242932657632', '0.7842497569749508', '-0.43476896864505865']

In [7]:
headers

['', 'A', 'B', 'C', 'D']

A nice and clean way to read the data...

In [14]:
from collections import namedtuple

rows = []
with open(file_name) as f:
    f_csv = csv.reader(f)
    headings = next(f_csv)
    headings[0] = "index"
    Row = namedtuple('Row', headings)
    for r in f_csv:
        row = Row(*r)
        rows.append(row)

In [16]:
row = rows[0]
row

Row(index='0', A='0.5784206468336923', B='1.2136204592697122', C='-0.7322489731430893', D='-2.84911273983835')

In [18]:
row.A, row.B

('0.5784206468336923', '1.2136204592697122')

In [20]:
import csv

rows = []
with open(file_name) as f:
    f_csv = csv.DictReader(f)
    for row in f_csv:
        rows.append(row)

In [21]:
rows

[OrderedDict([('', '0'),
              ('A', '0.5784206468336923'),
              ('B', '1.2136204592697122'),
              ('C', '-0.7322489731430893'),
              ('D', '-2.84911273983835')]),
 OrderedDict([('', '1'),
              ('A', '0.07596047207284655'),
              ('B', '0.7354709000827151'),
              ('C', '-0.2453891691302662'),
              ('D', '0.9826508560764818')]),
 OrderedDict([('', '2'),
              ('A', '1.146799123292891'),
              ('B', '1.763105869585345'),
              ('C', '1.404748156315179'),
              ('D', '-1.1974647197868011')]),
 OrderedDict([('', '3'),
              ('A', '-1.0604061326077359'),
              ('B', '-1.0826079764500174'),
              ('C', '1.0036262065245922'),
              ('D', '-0.9901708378243262')]),
 OrderedDict([('', '4'),
              ('A', '-0.42831386072217076'),
              ('B', '-1.1171242932657632'),
              ('C', '0.7842497569749508'),
              ('D', '-0.43476896864505865')])]

In [23]:
rows[0]["A"]

'0.5784206468336923'

In [24]:
rows[0]["B"]

'1.2136204592697122'

## Reading and Writing JSON Data