# 1 - Data Structures and Algorithms

## Star expressions for unpacking N elements

In [4]:
x = list(range(1, 11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
first, *middle, last = x
first, last

(1, 10)

In [6]:
middle

[2, 3, 4, 5, 6, 7, 8, 9]

## Keeping the last N terms
[deque](https://docs.python.org/2/library/collections.html#collections.deque) is a list-like container with fast appends and pops on either end...

In [12]:
from collections import deque

x = deque(maxlen=3)
for i in range(10):
    print(x, "adding %d" % i)
    x.append(i)

deque([], maxlen=3) adding 0
deque([0], maxlen=3) adding 1
deque([0, 1], maxlen=3) adding 2
deque([0, 1, 2], maxlen=3) adding 3
deque([1, 2, 3], maxlen=3) adding 4
deque([2, 3, 4], maxlen=3) adding 5
deque([3, 4, 5], maxlen=3) adding 6
deque([4, 5, 6], maxlen=3) adding 7
deque([5, 6, 7], maxlen=3) adding 8
deque([6, 7, 8], maxlen=3) adding 9

In [13]:
x

deque([7, 8, 9])

## Finding the lagest or smallest N items
Using [heapq](https://docs.python.org/3.0/library/heapq.html)

In [15]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
import heapq

heapq.nlargest(3, x)

[10, 9, 8]

In [18]:
heapq.nsmallest(3, x)

[1, 2, 3]

## Implementing a priority queue

In [19]:
from queue import PriorityQueue

q = PriorityQueue()

q.put((2, 'item2'))
q.put((1, 'item1'))
q.put((3, 'item3'))

while not q.empty():
    next_item = q.get()
    print(next_item)

(1, 'item1')
(2, 'item2')
(3, 'item3')

## Keeping dictionaries in order

In [36]:
from collections import OrderedDict

# the standard and ordered dict
ds = dict()
do = OrderedDict()

for d in [ds, do]:
    d["jack"] = 1
    d["queen"] = 2
    d["king"] = 3
    d["ace"] = 4
    d["2"] = 5

In [37]:
ds

{'jack': 1, 'queen': 2, 'king': 3, 'ace': 4, '2': 5}

In [38]:
do

OrderedDict([('jack', 1), ('queen', 2), ('king', 3), ('ace', 4), ('2', 5)])

## Calculating with dictionaries

In [8]:
d = {
    "GOOG": 1077.03,
    "FB": 175.04,
    "AAPL": 194.19,
    "NFLX": 345.56
}

In [9]:
dlist = list(zip(d.values(), d.keys()))
dlist

[(1077.03, 'GOOG'), (175.04, 'FB'), (194.19, 'AAPL'), (345.56, 'NFLX')]

In [10]:
sorted(dlist)  # who has the highest and lowest price

[(175.04, 'FB'), (194.19, 'AAPL'), (345.56, 'NFLX'), (1077.03, 'GOOG')]

In [12]:
slist = sorted(dlist)
low = slist[0][0]
high = slist[-1][0]
low, high

(175.04, 1077.03)

In [13]:
max(d.values())

1077.03

In [14]:
min(d.values())

175.04

In [19]:
rev = {v:k for k,v in d.items()}
rev

{1077.03: 'GOOG', 175.04: 'FB', 194.19: 'AAPL', 345.56: 'NFLX'}

In [20]:
rev[max(d.values())]

'GOOG'

In [21]:
rev[min(d.values())]

'FB'

## Finding common dictionary keys

In [22]:
a = {
    "a": 1,
    "b": 2,
    "c": 3
}

b = {
    "c": 3,
    "d": 4,
    "e": 5
}

In [24]:
overlap = a.keys() & b.keys()
overlap, type(overlap)

({'c'}, set)

## Removing duplicates from a sequence while maintaining order

In [32]:
x = [1, 3, 2, 1, 2, 4, 4, 5]
x

[1, 3, 2, 1, 2, 4, 4, 5]

In [33]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [34]:
list(dedupe(x))

[1, 3, 2, 4, 5]

Eliminating duplicates is easy with set... but the order is not maintained.

In [35]:
list(set(x))

[1, 2, 3, 4, 5]

## Naming a slice

In [37]:
items = list(range(1, 21))
items

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
s = slice(5, len(items), 2)
s.start, s.stop, s.step

(5, 20, 2)

In [42]:
items[s]

[6, 8, 10, 12, 14, 16, 18, 20]

## Determining the most frequently occurring items in a sequence

In [44]:
items = ["like", "like", "like", "totally"]
items

['like', 'like', 'like', 'totally']

In [45]:
from collections import Counter

c = Counter(items)
c

Counter({'like': 3, 'totally': 1})

In [50]:
c["like"], c["totally"]

(3, 1)

In [51]:
dict(c)

{'like': 3, 'totally': 1}

## Sorting a list of dictionaries by a common key

In [3]:
users = [
    {"fname": "Simon", "lname": "Garisch", "uid": 1002},
    {"fname": "Bob", "lname": "Builder", "uid": 1003},
    {"fname": "Bernard", "lname": "Smith", "uid": 1001}
]

users

[{'fname': 'Simon', 'lname': 'Garisch', 'uid': 1002},
 {'fname': 'Bob', 'lname': 'Builder', 'uid': 1003},
 {'fname': 'Bernard', 'lname': 'Smith', 'uid': 1001}]

In [5]:
from operator import itemgetter

users_by_uid = sorted(users, key=itemgetter("uid"))
users_by_uid

[{'fname': 'Bernard', 'lname': 'Smith', 'uid': 1001},
 {'fname': 'Simon', 'lname': 'Garisch', 'uid': 1002},
 {'fname': 'Bob', 'lname': 'Builder', 'uid': 1003}]

In [11]:
{item["uid"] : item["fname"] for item in sorted(users, key=itemgetter("uid"))}

{1001: 'Bernard', 1002: 'Simon', 1003: 'Bob'}

## Sorting objects without native comparison support

In [14]:
class User:
    def __init__(self, uid):
        self.uid = uid

    def __repr__(self):
        return "User({})".format(self.uid)


users = [User(3), User(1), User(12)]
users

[User(3), User(1), User(12)]

In [16]:
sorted(users)  # no comparison support...

TypeError: '<' not supported between instances of 'User' and 'User'

In [17]:
sorted(users, key=lambda x: x.uid)  # lambda to the rescue

[User(1), User(3), User(12)]

## Grouping records together based on a field

In [20]:
users = [
    {"name": "Simon", "group": 1},
    {"name": "Bob", "group": 2},
    {"name": "Bernard", "group": 2},
    {"name": "Brad", "group": 2},
    {"name": "Blaze", "group": 1},
    {"name": "Chad", "group": 3}
]

users

[{'name': 'Simon', 'group': 1},
 {'name': 'Bob', 'group': 2},
 {'name': 'Bernard', 'group': 2},
 {'name': 'Brad', 'group': 2},
 {'name': 'Blaze', 'group': 1},
 {'name': 'Chad', 'group': 3}]

In [21]:
from operator import itemgetter
from itertools import groupby

In [27]:
sorted_users = sorted(users, key=itemgetter("group"))
sorted_users

[{'name': 'Simon', 'group': 1},
 {'name': 'Blaze', 'group': 1},
 {'name': 'Bob', 'group': 2},
 {'name': 'Bernard', 'group': 2},
 {'name': 'Brad', 'group': 2},
 {'name': 'Chad', 'group': 3}]

Note that groupby finds sequential runs, so we pass it sorted_users...

In [29]:
for group, items in groupby(sorted_users, key=itemgetter("group")):
    print(list(items))

[{'name': 'Simon', 'group': 1}, {'name': 'Blaze', 'group': 1}]
[{'name': 'Bob', 'group': 2}, {'name': 'Bernard', 'group': 2}, {'name': 'Brad', 'group': 2}]
[{'name': 'Chad', 'group': 3}]

## Filtering Sequence Elements
The easiest way is to use a list comprehension.

In [4]:
n = list(range(-10, 11))
n

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
[i for i in n if i >= 0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

However, this could produce a large result if the original sequence is long. We can use a genexp instead:

In [7]:
x = (i for i in n if i >= 0)
x

In [8]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Extracting a subset of a dictionary

In [9]:
import string

chars = string.ascii_lowercase
chars

'abcdefghijklmnopqrstuvwxyz'

In [10]:
d = {chars[i]: i+1 for i in range(len(chars))}
d

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

We can use a dict comprehension in a similar way:

In [13]:
{k:v for k,v in d.items() if v <= 5}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

## Mapping names to sequence elements

In [14]:
from collections import namedtuple

Person = namedtuple("Person", "fname lname")
Person

__main__.Person

In [16]:
person = Person("Bob", "Bronson")
person

Person(fname='Bob', lname='Bronson')

In [17]:
len(person)

2

In [19]:
person[0], person[1]

('Bob', 'Bronson')

## Transforming and reducing data at the same time
It's elegant to use a genexp.

In [21]:
x = list(range(1, 6))
x

[1, 2, 3, 4, 5]

In [22]:
squares = (i * i for i in x)

In [23]:
list(squares)

[1, 4, 9, 16, 25]

In [24]:
sum_squares = sum((i * i for i in x))
sum_squares

55

## Combining multiple mappings into a single mapping

In [43]:
d1 = {"a": 1, "b": 2, "c": 3}
d2 = {"c": 3, "d": 4, "e": 5}

In [27]:
from collections import ChainMap

c = ChainMap(d1, d2)
c  # lookup in d1 first, then look in d2

ChainMap({'a': 1, 'b': 2, 'c': 3}, {'c': 3, 'd': 4, 'e': 5})

In [28]:
c["a"]  # from d1

1

In [29]:
c["c"]  # from d1

3

In [30]:
c["e"]  # from d2

5

In [31]:
len(c)

5

In [37]:
sorted_keys = sorted(c.keys())
sorted_keys

['a', 'b', 'c', 'd', 'e']

In [38]:
{k:c[k] for k in sorted_keys}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

As an alternative, you could consider merging the dictionaries together. It works, but requires you to make a completely separate dictionary object.

In [44]:
d1, d2

({'a': 1, 'b': 2, 'c': 3}, {'c': 3, 'd': 4, 'e': 5})

In [45]:
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

***